registry=https://registry.npmmirror.com # 注册模块镜像
disturl=https://npmmirror.com/mirrors/node # node-gyp 编译依赖的 node 源码镜像

## 以下选择添加
sass_binary_site=https://registry.npmmirror.com/mirrors/node-sass # node-sass 二进制包镜像
electron_mirror=https://registry.npmmirror.com/mirrors/electron/ # electron 二进制包镜像
puppeteer_download_host=https://registry.npmmirror.com/mirrors # puppeteer 二进制包镜像
chromedriver_cdnurl=https://registry.npmmirror.com/mirrors/chromedriver # chromedriver 二进制包镜像
operadriver_cdnurl=https://registry.npmmirror.com/mirrors/operadriver # operadriver 二进制包镜像
phantomjs_cdnurl=https://registry.npmmirror.com/mirrors/phantomjs # phantomjs 二进制包镜像
selenium_cdnurl=https://registry.npmmirror.com/mirrors/selenium # selenium 二进制包镜像
node_inspector_cdnurl=https://registry.npmmirror.com/mirrors/node-inspector # node-inspector 二进制包镜像
sentrycli_cdnurl=https://registry.npmmirror.com/mirrors/sentry-cli # sentry-cli